{% block header %}
<div id="header">
    <div id="site-name">Symfony 3 Skeleton</div>
    <div id="login-button" class="pull-right">
        {% if is_granted('ROLE_USER') %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary">{{ app.user.username }}</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('user_profile') }}">Profile</a></li>

                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path('security_logout') }}">Logout</a></li>
                </ul>
            </div>
        {% else %}
            <a href="{{ path('security_login') }}" class="btn btn-sm btn-primary">LOGIN</a>
            <a href="{{ path('security_register') }}" class="btn btn-sm btn-success">Register</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_user_list') }}" class="btn btn-sm btn-warning">Manage Users</a>
        {% endif %}
    </div>
</div>
{% endblock %}