{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div id="register-form-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form form-wide">
                        <div class="form-header">
                            <div class="form-title">Register</div>
                            <div class="form-description">Create a new account</div>
                        </div>

                        <div class="form-body">

                            {{ form_start(form) }}
                            {{ form_row(form.username) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.plainPassword) }}
                            {{ form_row(form.firstName) }}
                            {{ form_row(form.lastName) }}
                            {{ form_row(form.mobileNumber) }}
                            {{ form_row(form.phoneNumber) }}
                            <button class="btn btn-success" formnovalidate>Register</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}